/* Element Selector */
/* div{
    color: rgb(30, 0, 255);
} */

/* ID Selector */
#abc{
    color: rgb(50, 204, 83);
}


/* #xyz{
    color: rgb(131, 232, 8);
    font-size: 100px;
} */

/* Class Selector */ 
.abc{
    color: brown;
}

.xyz{
    color: rgb(131, 232, 8);
    font-size: 100px;
}